@charset "utf-8";

.{
margin:0;
padding:0;
}

body{
	background-color:#EEEEEE;
	font-family: Verdana, sans-serif;
}

.profile {
	margin: 60px auto 60px;
}

.profile .container{
	text-align: center;
}
.profile .container h1{
    text-size=20px;
}

.icon{
	text-align: center;
	margin-top: 60px;
	margin-bottom: 60px;
}

.icon h1{
	margin-bottom: 0px;
}
.icon p{
	margin-top: 0px;
}
.icon-img{
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 0 0 5px gray;
}

#skill{
	text-align: center;
	list-style-type: none;
	padding-left: 0px;
}



.footer{

    background:none;
	border-top: 1px solid gray;
	margin: 0 auto 0px;
    position:relative;
}

.footer .logo-footer a{

    text-decoration:none;
	margin-top: 0px;
	color: #444444;
	font-size: 20px;
	text-align: right;
	margin-bottom:0px;
}

.footer .link{
    background:none;
	list-style-type: none;
	text-align: center;
	padding-left: 0px;

	bottom: 0px;
}

.footer .link li{
    background:none;
	list-style:none;
    width:10%;
    background:none;
    display:inline-block;
    font-size:20px;
    text-align:left;
    padding:auto;
}



.footer .link  a{
	text-decoration:none;
    color : #444444;
}

.footer .link  a:hover{
	color : red;
}

.footer .link ul{

    position:static;
    top:70px;
    text-align:right;
    background:none;
    width:100%;


}



