* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(50, 50, 50);
}

body {
    background: #f0f8ff;
}

.headline {
    margin: 4vh;
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
}

.subheadline {
    margin: 3vh;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}