@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}
.clear{
  clear: both;
}
body{
  background-color: #bfbfbf;
}
.top-area{
  height: 250px;
  width: 100%;
}
.fource-file-rook{
  height: 200px;
  width: 405px;
  float: right;
}
.u-toyama{
  color: #457373;
}
.u-toyama-engineering{
  color: #b3ff00;
}
.course_name{
  height: 24px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
}
.name{
  margin: 5px;
  height: 100px;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
.name rt{
  opacity: 0.0;
}
.name rt:hover{
  opacity: 1.0;
  transition: opacity 0.5s;
}
.info{
  height: 100px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.hobby{
  font-size: 20px;
}
.hobby-title{
  font-size: 30px;
  color: green;
}
.hobby ul{
  list-style-type: disc;
}
.hobby li{
  margin-left: 30px;
  font-size: 25px;
  color: green;
}
