h1{
  color: blue;
  font-family: sans-serif;
  font-weight: bold;
}
.html-title {
  font-weight: bold;
  color: red;
}
.css-title{
  font-weight: normal;
  color: orange;
  text-decoration: line-through;
}
body{
  background-image: url("images/venus.jpeg");
}
p{
  text-decoration: underline;
}
