@charset "utf-8";

.main-area{
    height:90vh;
    width:auto;
    background:#303030;
    background-size:cover;
    position: relative;
 color:black;
}

.main-area .main-img{
    height:500px;
    width:auto;
    max-width:100%;
}

.main-area .container{
    height:50%;
    width:90%;
    position: absolute;  /*要素を浮かす*/
    /*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; /*上下左右中央に*/

    background:none;
}

.main-area h1{
    font-size:5vw;
    text-align:center
}

.main-area .left-box{
  display: inline-block;
  vertical-align: middle;
  color: black;
  width:400px;
  height:400px;
  background-color: #f0f8ff;
  margin: 10px;
}

.main-area .right-box{
  display: inline-block;
  vertical-align: middle;
  color: white;
  width:500px;
  height:400px;
  background-color: #404040;
  padding: 40px;
}

.main-area .right-box h4{
  font-family: "ＭＳ Ｐゴシック",sans-serif;
  text-align:left;
}
