@charset "utf-8";
body{
    background-color: azure; 
}
.main-area{
    height:90vh;
    width:auto;
    background:url("../img/background01.jpg") center no-repeat;
    background-size:cover;

    position: relative;
 color:white;
}

.main-area .main-img{
    height:400px;
    width:auto;
    max-width:100%;

}

.main-area .container{
     height:50%;
    width:90%;

    position: absolute;  /*要素を浮かす*/
    /*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; /*上下左右中央に*/

    background:none;
}

.main-area h1{
    font-size:5vw;
    text-align:center


}

.main{
    font-size: 130%;
    padding-top: 40px;
    text-align: center;
}

.member {
    opacity: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 0%;
    margin-bottom: 10%;
}

.member :hover {
    box-shadow: 0px 0px 19px 10px black;
    position: relative;
    height: 180px;
    opacity: 100%;
    background-color: ;
    transition: 0.3s;   
}

.name{
    font-weight: 999;
    font-size: 135%;
    opacity: 100%;
    color: ghostwhite;
    text-align: center;
    padding-top: 140px;
}

#square-button {

  width: 180px;
  height: 180px;
  background: rgb(250,20,1);
}
#square-button.blue {
  background: #21759b;
}

#square-button2 {
  width: 180px;
  height: 180px;
  background: rgb(999,200,0);
}
#square-button2.blue {
  background: #21759b;
}

#square-button3 {
  width: 180px;
  height: 180px;
  background: rgb(0,40,999);
}
#square-button3.blue {
  background: #21759b;
}

#square-button4 {
  width: 180px;
  height: 180px;
  background: green;
}
#square-button4.blue {
  background: #21759b;
}

#square-button5 {
  width: 180px;
  height: 180px;
  background: rgb(800,100,40);
}
#square-button5.blue {
  background: #21759b;
}

#square-button6 {
  width: 180px;
  height: 180px;
  background: rgb(0,160,999);
}
#square-button6.blue {
  background: #21759b;
}