.main-area {
  width: 100%;
  display: flex;
  /** 縦並び */
  flex-direction: column;
}

.product {
  margin: 0 10vw 5vh 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: anm 0.6s;
}
@keyframes anm {
    0% {
        transform: translate(200%, 0%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.description {
  width: 50vw;
  margin-left: 3vw;
  float: left;
}

.img {
  width: 30vw;
  height: 30vh;
  float: right;
}

/* コンテンツの色設定 */
.timecapsule {
  background: linear-gradient(90deg, #8d93c870, #ffa07a00);
}

.tdboardgame {
  background: linear-gradient(90deg, #ff8c00, #ffa07a00);
}

.todoscheduling {
  background: linear-gradient(90deg, #df7fb7, #ffa07a00);
}

.traffic-survey-ai {
  background: linear-gradient(90deg, #c79c5b, #ffa07a00);
}

.ganimation {
  background: linear-gradient(90deg, #32cd32, #ffa07a00);
}

/*幅小さくなると画像表示が駄目になるので縦方向にならべる*/
@media screen and (max-width:639px) {
  .description {
    width: 70vw;
    margin-left: 0;
  }
  
  .img {
    display: none;
  }

  .product {
    width: 90%;
  }

}