@charset "utf-8";


.body{
    overflow:scroll;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.header{
    margin-top:0px;

}
.header .container{
   background:black;
   height:100px;
}

.header-left{
    display:flex;
    float:left;
    width:40%;
    height:100px;
    background:none;
}

.logo{
    width:100%;
    height:auto;
    max-height:100px;
    background:url("../img/DevelopSquare Logo.png") center no-repeat;
    background-size:contain;
}

.header-right{
    float:right;
    height:100px;
    width:60%;
    background:none;
    position:relative;
    vertical-align:bottom;
}

.header-right li {
    list-style:none;
    width:20%;
    background:none;
    display:inline-block;
    font-size:20px;
    text-align:center;
    padding:auto;
}

.header-right a{
    text-decoration:none;
    color : white;
}

.header-right a:hover{
    color : red;
}

.header-right ul{
    position:absolute;
    top:70px;
    text-align:right;
    background:none;
    width:100%;
}


/*リストの文字サイズ調整*/
@media screen and (max-width:1023px) {
  .header-right li {
    font-size: 10px;
  }
}

@media only screen and (min-width:640px) and (max-width:1023px) {
  .header-right li {
    font-size: 15px;
  }
}
