@charset "utf-8";

.news-area{
    height:400px;
    width:auto;
    background:#fafad2;
    font-size:2vw;
    text-align:center;
    position:relative;
    margin-top: 10px;
}

.news-list{
    width:80%;
    height:250px;
    overflow:auto;
    background:white;
    text-align:left;
    margin:auto;
    margin-top: 10px;
}

.news-list p{
  font-size:30px;
}

/*リストの文字サイズ調整*/
@media screen and (max-width:1023px) {
  .news-list p{
    font-size:150%;
  }
}

@media only screen and (min-width:640px) and (max-width:1023px) {
  .news-list p{
    font-size:150%;
  }
}
