.about-area {
  width: auto;
  position: relative;
}

.mainimg {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 5vh;
}

@media screen and (max-width:1070px) {
  .mainimg {
    width: 60vw;
  }
}