.products-area {
  width: 100%;
  display: flex;
  /** 縦並び */
  flex-direction: column;
}

.product {
  margin: 0 5vw 5vh 5vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #4c4cae70, #ffa07a00 85%);
  transition: background 0.5s;
}

.product:hover {
  background-color: rgb(113, 113, 113);
  color: rgb(255, 255, 255);
}

.product-description-area {
  width: 50vw;
  margin-left: 3vw;
  float: left;
}

.product-title {
  font-weight: 500;
  font-size: 1.7rem;
}

.product-sub-description {
  font-size: 0.8rem;
  margin-right: 2vw;
}

.product-img {
  min-width: 400px;
  height: 250px;
  border-radius: 0px 5px 5px 0px;
  float: right;
  object-fit: cover;
}

/** タブレット(ここだけ例外の1500px) */
@media screen and (max-width:1500px) {
  .product {
    margin: 0 0 3vh 0;
  }

  .product-description-area {
    width: 100vw;
    margin: 5px;
  }

  .product-title {
    font-size: 1.4rem;
  }
  
  .product-sub-description {
    font-size: 0.8rem;
  }

  .product-img {
    display: none;
  }
}
/** スマホ */
@media screen and (max-width:520px) {
  .title {
    font-size: 2em;
  }
}