@charset "utf-8";
body{
  background: #f0f8ff;
}

h1{
  text-align:center;
}

.main-area{
    /* producutのheight*要素数 */
    height:840px;
    /* producutのwidth*要素数 +左右の要素隙間*/
    width: 100%;
    margin:0  auto;
    margin-bottom:40px;
}

/* 共通要素の設定 */
.product,.Img{
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 1%;
  width: 48%;
  min-width: 250px;
}

.product{
  border: solid 1px black;
  text-align: center;
}

.left-product{
  float: left;
}


.right-product{
  position: relative;
  /* 写真がないので調整 */
  margin-left:51%;
}

/* コンテンツの色設定 */
.timecapsule{
  background: linear-gradient(90deg, #8d93c8, #25b7c0);
}

.Tdbordgame{
  background: linear-gradient(90deg, #ff8c00, #ffa07a);
}

.unknown{
  background: linear-gradient(90deg, #32cd32,#5f9ea0);
}

/*幅小さくなると画像表示が駄目になるので縦方向にならべる*/
@media screen and (max-width:639px) {
  .Img{
    display: none;
  }
  .left-product,.right-product{
    float: none;
    margin: 0 auto;
    margin-top:10px;
    margin-bottom: 10px;
  }
  .product{
    width: 90%;
  }

}
