/*横画面が600pxより小さい時のCSS*/
#title{
  width: 50%;
  font-size: 5vh;
}

#header-menue{
  position: absolute;
  right:7%;
  bottom:2vh;
}

#header-menue a{
  font-size: 2.5vh;
  width: 10%;
}

#prof-title{
  line-height: 7vh;
  font-size: 6vh;
  height: 7vh;
}

#prof-main {
  font-size: 3vh;
}

#footer p{
  line-height: 7vh;
  font-size: 2vh;
}
