*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper{

    height:90vh;
    width:100%;
    background:red;

    position: absolute;  /*要素を浮かす*/
  /*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; /*上下左右中央に*/



}

.slider{
    margin: 50px auto;
    width: 80%;
}
.slider img{
	height: auto;
	max-height:70vh;
	width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before{
    color: #000;
}


