@charset "utf-8";

.product-area{
    height:100vh;
    width:auto;
    position: relative;
    background:none;

    font-size:2vw;
    text-align:center;

    color:black;
}



.slider{

    margin: 0% auto;
    width: 80%;
}
.slider img{

    margin: 3% auto;
	height: 100%;
	max-height:80vh;

	width: 80%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before{
    color: #000;

}

