@charset "utf-8";

.about-area{
    width:auto;
    background:white;
    font-size:2vw;
    text-align:center;
    position:relative;
}

.about-area h1{
    margin: 20px 0;
}

.about-area .box{
  display: block;
  vertical-align: middle;
  background-color: white;
  position: relative;
  color: black;
  margin: 3%;
}

#mainimg{
  width: 50%;
  border-radius: 30px;
}
