*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 0px;
    box-shadow: 0 0 10px #dddddd;
    background-color: skyblue;
}

.range{
    max-width:2000px;
    margin-left: auto;
    margin-right: auto;
}


.header> .range >h1{
    float: left;
    font-size: 50px;
    padding:auto;
    margin-top: 30px;
    margin-left: 100px;
    width: 500px;
    /*background-color: blue;*/
}

.header-right{
    float:right;
    margin-right: 10px;
    height: 30px;
    margin-top: 70px;
    width:40%;
   /* background-color: aqua;*/
}

.header-right > a{
    font-size: 25px;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    /*background-color: pink;*/
}

.main{
    height:750px;
    /*background-color:yellow;*/
}

.main > p{
    text-align: center;
    font-size:100px;
    padding-top: 20px;
}

.twopro{
  display: flex;    
}

.contentarea{
    height:500px;
    width: 45%;
    margin-left: 50px; 
    background-color: aliceblue;
    margin-top: 20px;
}

.contentarea > p{
    font-size: 30px;
    color: black;
}
.contentarea > a{
    font-size: 40px;
    margin-top: 5px;
    float: left;
    background-color: pink;
}

.photoarea{
    height:300px;
    background-color: red;
    width: 90%;
    margin:auto;
    margin-top: 5%;
    background-image: url(../imgs/hill.jpg);
    background-size: cover;
}

.sentence >p{
 margin-left: 5%;
 font-size: 28px;
}

.footer{
    height: 100px;
    background-color: skyblue;
}
.footer-left{
    float: left;
}
.footer-right{
    float: right;
    padding-top: 50px;
    margin-right: 50px;
}
.footer-left p{
    margin-bottom: 8px;
}