@charset "utf-8";

.news-area{
    height:300px;
    width:auto;
    background:#fafad2;
    font-size:2vw;
    text-align:center;
    position:relative;
}

.news-list{
    width:70%;
    height: 200px;
    background:white;
    text-align:left;
    margin:auto;
    padding-top: 10px;
    padding-left: 20px;
}

.news-list li a{
    text-decoration:none;
    color:black;
}

.news-list li a:hover{
    text-decoration:none;
    color:red;
}
